<h3>Edit Ticket</h3>

<h4>Make changes to ticket properties</h4>
       
<dl class="enlarge">
  <dt>Project</dt>
  <dd>"<%= @project_name %>"</dd>
</dl>

<form class="enlarge" method="post" action="/tickets/<%= params[:id] %>">
  <fieldset>
    <label>
      Title
      <input type="text" name="title" autocompelte="off" value="<%= params[:title] || @ticket["title"] %>" size="35" required />
    </label>
    <label>
      Description
      <input type="text" name="description" autocompelte="off" value="<%= params[:description] || @ticket["description"] %>" size="60" />
    </label>
  </fieldset>

  <fieldset>

    <label>
      Ticket Priority
      <select name="priority">
        <% if @priority %>
          <% @priorities.each do |importance| %>
            <% if importance == @priority %>
              <option selected="selected"><%= importance %></option>
            <% else %>
              <option><%= importance %></option>
            <% end %>
          <% end %>
        <% else %>
          <% @priorities.each do |importance| %>
            <% if importance == @ticket["priority"] %>
              <option selected="selected"><%= importance %></option>
            <% else %>
              <option><%= importance %></option>
            <% end %>
          <% end %>
        <% end %>
      </select>
    </label>

    <label>
      Ticket Status
      <select name="status">
        <% if @status %>
          <% @statuses.each do |sitrep| %>
            <% if sitrep == @status %>
              <option selected="selected"><%= sitrep %></option>
            <% else %>
              <option><%= sitrep %></option>
            <% end %>
          <% end %>
        <% else %>
          <% @statuses.each do |sitrep| %>
            <% if sitrep == @ticket["status"] %>
              <option selected="selected"><%= sitrep %></option>
            <% else %>
              <option><%= sitrep %></option>
            <% end %>
          <% end %>
        <% end %>
      </select>
    </label>
  </fieldset>

  <fieldset>
    <label>
      Ticket Type
      <select name="type">
        <% if @type %>
          <% @types.each do |category| %>
            <% if category == @type %>
              <option selected="selected"><%= category %></option>
            <% else %>
              <option><%= category %></option>
            <% end %>
          <% end %>
        <% else %>
          <% @types.each do |category| %>
            <% if category == @ticket["type"] %>
              <option selected="selected"><%= category %></option>
            <% else %>
              <option><%= category %></option>
            <% end %>
          <% end %>
        <% end %>        
      </select>
    </label>
    <label>
      Assigned Developer
      <select name="developer_id">
        <% if @developer_id %>
          <% @developers.each do |developer| %>
            <% if developer["id"] == @developer_id %>
              <option value="<%= developer["id"] %>" selected="selected"><%= developer["name"] %></option>
            <% else %>
              <option value="<%= developer["id"] %>"><%= developer["name"] %></option>
            <% end %>
          <% end %>
        <% else %>
          <% @developers.each do |developer| %>
            <% if developer["id"] == @ticket["developer_id"] %>
              <option value="<%= developer["id"] %>" selected="selected"><%= developer["name"] %></option>
            <% else %>
              <option value="<%= developer["id"] %>"><%= developer["name"] %></option>
            <% end %>
          <% end %>
        <% end %>
      </select>
    </label>
  </fieldset>

  <a href="/tickets">Back to Tickets List</a>
  <button type="submit">Update Ticket</button>
</form>