<!DOCTYPE html>

<html lang="en-US">
  <head>
    <title>Bug Tracker App</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/whitespace-reset.css">
    <link rel="stylesheet" href="/stylesheets/application.css">
  </head>

  <body>
    <header>
      <h1>Bug Tracker</h1>
    </header>

    <main>
      <h2>Welcome, '<%= session[:user_name] %>'</h2>

      <h2>You are logged in as '<%= session[:user_role] %>'</h2>

      <ul>
        <li>
          <a href="#">Profile</a>
        </li>
        <li>
          <a href="#">Log Out</a>
        </li>
      </ul>
      
      <nav>
        <ul>
          <li>
            <a href="/dashboard">Dashboard</a>
          </li>
          <li>
            <a href="/projects">My Projects</a>
          </li>
          <li>
            <a href="/tickets">My Tickets</a>
          </li>
        </ul>
      </nav>

      <% if session[:error] %>
        <div class="flash error">
          <p><%= session.delete(:error) %></p>
        </div>
      <% end %>

      <% if session[:success] %>
        <div class="flash success">
          <p><%= session.delete(:success) %></p>
        </div>
      <% end %>

      <%== yield %>
    </main>
  </body>
</html>