<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/assets/img/favicon.png">
    <title>GECKO bug tracker</title>
    <link rel="stylesheet" type="text/css" href="/assets/lib/stroke-7/style.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/lib/perfect-scrollbar/css/perfect-scrollbar.css"/>
    <link rel="stylesheet" href="/assets/css/app.css" type="text/css"/>
  </head>
  <body>
    <nav class="navbar navbar-expand navbar-dark mai-top-header">
      <div class="container"><a class="navbar-brand" href="/dashboard"></a>
        <ul class="nav navbar-nav mai-top-nav"></ul>
        <ul class="navbar-nav float-lg-right mai-icons-nav"></ul>

        <ul class="nav navbar-nav float-lg-right mai-user-nav">
          <li class="dropdown nav-item">
            <a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown" role="button" aria-expanded="false">
              <span id="profile_avatar" class="icon s7-user profile_avatar"></span>
              <span id="profile_name">
                <dl class="mb-0">
                  <dt>
                    <%= session[:user_name] %>
                  </dt>
                  <dd class="mb-0">
                    <%= prettify_user_role(session[:user_role]) %>
                  </dd>
                </dl>
              </span>
              <span id="profile_arrow" class="angle-down s7-angle-down"></span>
            </a>
            <div class="dropdown-menu" role="menu">
              <a class="dropdown-item" href="/profile"><span id="profile_id" class="icon s7-id"></span>Profile</a>
              <a class="dropdown-item" href="/logout"><span class="icon s7-power"></span>Log Out</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <main>
      <div class="mai-wrapper">
        <nav class="navbar navbar-expand-lg mai-sub-header">
          <div class="container">
            <nav class="navbar navbar-expand-md">
              <button class="navbar-toggler hidden-md-up collapsed" type="button" data-toggle="collapse" data-target="#mai-navbar-collapse" aria-controls="mai-navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-bar">
                  <span></span>
                  <span></span>
                  <span></span>
                </span>
              </button>
              <div class="navbar-collapse collapse mai-nav-tabs" id="mai-navbar-collapse">
                <ul class="nav navbar-nav">
                  <li class="nav-item parent">
                    <a class="nav-link" href="/dashboard" role="button" aria-expanded="false">
                      <span class="icon s7-home"></span>
                      <span>Home</span>
                    </a>
                  </li>
                  <li class="nav-item parent">
                    <a class="nav-link" href="/projects" role="button" aria-expanded="false">
                      <span class="icon s7-display2"></span>
                      <span>Projects</span>
                    </a>
                  </li>

                  <li class="nav-item parent">
                    <a class="nav-link" href="/tickets" role="button" aria-expanded="false">
                      <span class="icon s7-ticket"></span>
                      <span>Tickets</span>
                    </a>
                  </li>

                  <% if session[:user_role] == "admin" %>
                    <li class="nav-item parent">
                      <a class="nav-link" href="/users" role="button" aria-expanded="false">
                        <span class="icon s7-users"></span>
                        <span>Users</span>
                      </a>
                    </li>
                  <% end %>

                  <li class="nav-item parent open">
                    <a class="nav-link" href="#" role="button" aria-expanded="false">
                      <span class="icon s7-user"></span>
                      <span>Profile</span>
                    </a>
                    <ul class="mai-nav-tabs-sub mai-sub-nav nav">
                      <li class="nav-item">
                        <a class="nav-link" href="/profile">
                          <span class="icon s7-user"></span>
                          <span class="name">My Profile</span>
                        </a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </nav>

        <div class="main-content container ticket-details">
          <div class="row pb-3 pl-3">
            <div class="col-md-12 d-flex align-items-center justify-content-between">
              <h2>My Profile</h2>
            </div>
          </div>

          <% if session[:error] %>
            <div class="alert alert-theme alert-danger alert-dismissible" role="alert">
              <button class="close" type="button" data-dismiss="alert" aria-label="Close"><span class="s7-close" aria-hidden="true"></span></button>
              <div class="icon"><span class="s7-attention"></span></div>
              <div class="message"><strong>Warning!</strong> <%= session.delete(:error) %></div>
            </div>
          <% end %>

          <% if session[:success] %>
            <div class="alert alert-theme alert-info alert-dismissible" role="alert">
              <button class="close" type="button" data-dismiss="alert" aria-label="Close"><span class="s7-close" aria-hidden="true"></span></button>
              <div class="icon"><span class="s7-check"></span></div>
              <div class="message"><strong>Success!</strong> <%= session.delete(:success) %></div>
            </div>
          <% end %>

          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-color card-header-color-primary pb-1 pt-4">
                  <h2 class="title">Personal Information</h2>
                </div>
                <div class="card-body ticket-detail-main">
                  <dl>
                    <dt>FULL NAME:</dt>
                    <dd class="font-weight-bold"><%= @user["name"] %></dd>
                    <dt>E-MAIL:</dt>
                    <dd><%= @user["email"] %></dd>
                  </dl>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="card card-border-color card-border-color-primary">
                <div class="card-header card-header-divider">Change Personal Information</div>
                <div class="card-body pl-sm-5">
                  
                  <form method="post" action="/profile/info_update" data-parsley-validate="" novalidate="">

                    <input type="hidden" name="user_id" value="<%= @user["id"] %>"/>

                    <div class="form-group row">
                      <label class="col-12 col-sm-3 col-form-label text-sm-right">First Name</label>
                      <div class="col-12 col-sm-8 col-lg-6">
                        <input class="form-control" type="text" name="first_name" parsley-trigger="change" required="" value="<%= @first_name %>" autocomplete="off">
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-12 col-sm-3 col-form-label text-sm-right">Last Name</label>
                      <div class="col-12 col-sm-8 col-lg-6">
                        <input class="form-control" type="text" name="last_name" parsley-trigger="change" required="" value="<%= @last_name %>" autocomplete="off">
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-12 col-sm-3 col-form-label text-sm-right">E-Mail</label>
                      <div class="col-12 col-sm-8 col-lg-6">
                        <input class="form-control" type="email" name="email" required="" parsley-type="email" value="<%= @user["email"] %>">
                      </div>
                    </div>

                    <div class="form-group row text-right">
                      <div class="col col-sm-10 col-lg-9 offset-sm-1 offset-lg-0">
                        <button class="btn btn-space btn-primary" type="submit">Submit</button>
                      </div>
                    </div>

                  </form>

                </div>

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="card card-border-color card-border-color-primary">
                <div class="card-header card-header-divider">Update Password</div>
                <div class="card-body pl-sm-5">
                  
                  <form method="post" action="/profile/password_update" data-parsley-validate="" novalidate="">

                    <input type="hidden" name="user_id" value="<%= @user["id"] %>"/>

                    <div class="form-group row">
                      <label class="col-12 col-sm-3 col-form-label text-sm-right">Current Password</label>
                      <div class="col-12 col-sm-8 col-lg-6">
                        <input class="form-control" name="pass_current" id="pass_current" type="password" placeholder="Your Current Password" autocomplete="off" required="">
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-12 col-sm-3 col-form-label text-sm-right">New Password</label>
                      <div class="col-12 col-sm-8 col-lg-6">
                        <input class="form-control" name="pass_new" id="pass_new" type="password" placeholder="New Password" autocomplete="off" data-parsley-pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])[0-9a-zA-Z]{8,16}$" required="">
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-12 col-sm-3 col-form-label text-sm-right">Confirm New Password</label>
                      <div class="col-12 col-sm-8 col-lg-6">
                        <input class="form-control" data-parsley-equalto="#pass_new" type="password" placeholder="Confirm Password" autocomplete="off" required="">
                      </div>
                    </div>

                    <div class="form-group row text-right">
                      <div class="col col-sm-10 col-lg-9 offset-sm-1 offset-lg-0">
                        <button class="btn btn-space btn-primary" type="submit">Update</button>
                      </div>
                    </div>

                  </form>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </main>
    <script src="/assets/lib/jquery/jquery.min.js" type="text/javascript"></script>
    <script src="/assets/lib/perfect-scrollbar/js/perfect-scrollbar.min.js" type="text/javascript"></script>
    <script src="/assets/lib/bootstrap/dist/js/bootstrap.bundle.min.js" type="text/javascript"></script>
    <script src="/assets/js/app.js" type="text/javascript"></script>
    <script src="/assets/lib/jquery.niftymodals/js/jquery.niftymodals.js" type="text/javascript"></script>
    <script src="/assets/lib/parsley/parsley.min.js" type="text/javascript"></script>
    <script src="/assets/lib/parsley/i18n/en.js" type="text/javascript"></script>
    <script type="text/javascript">
      //-Set Nifty Modals defaults
      $.fn.niftyModal('setDefaults',{
        overlaySelector: '.modal-overlay',
        contentSelector: '.modal-content',
        closeSelector: '.modal-close',
        classAddAfterOpen: 'modal-show',
        classModalOpen: 'modal-open',
        classScrollbarMeasure: 'modal-scrollbar-measure',
        afterOpen: function(){
         $("html").addClass('mai-modal-open');
        },
        afterClose: function(){
          $("html").removeClass('mai-modal-open');
        }
      });
      
      $(document).ready(function(){
        //-initialize the javascript
        App.init();
        $('form').parsley();
      });
    </script>
  </body>
</html>
