<a class="make_bold" href="/projects/new">CREATE A PROJECT</a>

<table class="reg_table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project["name"] %></td>
        <td><%= project["description"] %></td>
        <td>
          <ul>
            <li>
              <a href="/projects/<%= project["id"] %>">Details</a>
            </li>
            <li>
              <a href="/projects/users/<%= project["id"] %>">Manage Users</a>
            </li>
            <li>
              <a href="/tickets/new/<%= project["id"] %>">Create A Ticket</a>
            </li>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>