<section id="details">
  <h3>Details for Ticket #<%= params[:id] %></h3>
  <dl class="properties">
    <dt>
      TICKET TITLE
    </dt>
    <dd>
      <%= @ticket["title"] %>
    </dd>

    <dt>
      TICKET DESCRIPTION
    </dt>
    <dd>
      <%= @ticket["description"] %>
    </dd>

    <dt>
      ASSIGNED DEVELOPER
    </dt>
    <dd>
      <%= @developer_name %>
    </dd>

    <dt>
      SUBMITTER
    </dt>
    <dd>
      <%= @submitter_name %>
    </dd>

    <dt>
      PROJECT
    </dt>
    <dd>
      <%= @project_name %>
    </dd>

    <dt>
      TICKET PRIORITY
    </dt>
    <dd>
      <%= @ticket["priority"] %>
    </dd>

    <dt>
      TICKET STATUS
    </dt>
    <dd>
      <%= @ticket["status"] %>
    </dd>

    <dt>
      TICKET TYPE
    </dt>
    <dd>
      <%= @ticket["type"] %>
    </dd>

    <dt>
      CREATED ON
    </dt>
    <dd>
      <%= parse_timestamp(@ticket["created_on"]) %>
    </dd>

    <dt>
      UPDATED ON
    </dt>
    <dd>
      <%= parse_timestamp(@ticket["updated_on"]) %>
    </dd>
  </dl>
</section>

<br>

<section id="attachments">
  <h3>Attachments</h3>
  <form method="post" action="/upload/<%= params[:id] %>" enctype="multipart/form-data">
    <input type="file" name="file" value="" />
    <br>
    <label>
      Add Notes
      <input type="text" name="notes" value="n/a" />
    </label>
    <br>
    <button type="submit">Add Attachment</button>
  </form>

  <br>

  <table class="reg_table">
    <tr>
      <th>File</th>
      <th>Added By</th>
      <th>Notes</th>
      <th>Uploaded On</th>
    </tr>

    <% @attached_files.each do |file| %>
      <tr>
        <td>
          <a href="/tickets/<%= params[:id] %>/<%= file["filename"] %>"><%= file["filename"] %></a>
        </td>
        <td><%= file["uploader_name"] %></td>
        <td><%= file["notes"] %></td>
        <td><%= parse_timestamp(file["uploaded_on"]) %></td>
      </tr>
    <% end %>
  </table>
</section>

<br>

<section id="comments">
  <h3>Comments</h3>
  <form action="/tickets/<%= params[:id] %>/comment" method="post">
    <input name="comment" placeholder="Leave your comments here." type="text" value="<%= params[:comment] || "" %>" size="60" />
    <button type="submit">Add Comment</button>
  </form>

  <br>

  <table class="reg_table">
    <tr>
      <th>Commenter</th>
      <th>Message</th>
      <th>Created On</th>
      <th></th>
    </tr>

    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment["commenter"] %></td>
        <td><%= comment["message"] %></td>
        <td><%= parse_timestamp(comment["created_on"]) %></td>
        <td>
          <form class="delete" method="post" action="/tickets/<%= params[:id] %>/comment/<%= comment["id"] %>/destroy">
            <button class="delete" type="submit">Delete Comment</button>
          </form>
        </td>
      </tr>
    <% end %>
    
  </table>
</section>

<br>

<section id="history">
  <h3>Ticket Update History</h3>
  <table class="reg_table">
    <tr>
      <th>Property</th>
      <th>Previous Value</th>
      <th>Current Value</th>
      <th>Updated On</th>
    </tr>

    <% @histories.each do |history| %>
      <tr>
        <td><%= prettify_property_name(history["property"]) %></td>
        <td><%= history["previous_value"] %></td>
        <td><%= history["current_value"] %></td>
        <td><%= parse_timestamp(history["updated_on"]) %></td>
      </tr>
    <% end %>
  </table>
</section>

<br>

<a href="/tickets">Back to Tickets List</a>